{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <title>Basketball</title>
    
    <link
            href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext"
            rel="stylesheet"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{%static 'home/basketball/index.css' %}">
    <script>

    </script>
</head>
<body>
<div class="containersb">

    <!--        Container Section-->
    <div class="cont">
        <!--            Logo -->
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <h2>
                <span><img src="{%static 'home/basketball/ball-of-basket.jpg' %}" style="width: 50px"/></span
                ><span style="color: rgb(255, 255, 255);"><b>SportsWiki</b></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="header">
              <h2></h2>
              <div class="leagues">
                <div class="leaguestypes">
                    <button type="button" class="btn btn-light mx-4" ><span><img src="{%static 'home/basketball/nba.png' %}">NBA</span></button>
                    <button href="button" class="btn btn-light mx-4"><span><img src="{%static 'home/basketball/bb1.png' %}">EURO League</span></button>
                    <button type="button" class="btn btn-light mx-4"><span><img src="{%static 'home/basketball/bb2.png' %}">SPAINS ACB</span></button>
                    <button type="button" class="btn btn-light mx-4"><span><img src="{%static 'home/basketball/bb1.png' %}">BSL</span></button>
                </div>
                </div>
            </div>
            
            <div class="left" style="background-color:rgba(104, 99, 99, 0.685);">
                    <h5 class="headlines">NEWS HEADLINES</h5>
                    
                    <div class="headlinecontent">
                      <img src="{%static 'home/basketball/basketball.jpg' %}" width="100%" height="300px"/>
                  <img src="{%static 'home/basketball/basketball1.jpg' %}" width="100%" height="300px">
                  </div>
            </div>
            <div class="middle" style="background-color:rgba(104, 99, 99, 0.685);">
                <h5 class="headlines">LIVE MATCHES</h5>
            <div class="match">
                <div class="livematches">
                    <button type="button" class="btn btn-light mx-4"><span class="teaml">T1</span> <span class ="teamlbteamr">vs</span> <span class="teamr">T2</span></button>
                    <button type="button" class="btn btn-light mx-4"><span class="teaml">T1</span> <span class ="teamlbteamr">vs</span> <span class="teamr">T2</span></button>
                    <button type="button" class="btn btn-light mx-4"><span class="teaml">T1</span> <span class ="teamlbteamr">vs</span> <span class="teamr">T2</span></button>
                    <button type="button" class="btn btn-light mx-4"><span class="teaml">T1</span> <span class ="teamlbteamr">vs</span> <span class="teamr">T2</span></button>
                    <button type="button" class="btn btn-light mx-4"><span class="teaml">T1</span> <span class ="teamlbteamr">vs</span> <span class="teamr">T2</span></button>

                </div>
            </div>
            </div>  
            <div class="right" style="background-color:rgba(104, 99, 99, 0.685);">
                <h5 class="headlines">POINT TABLE</h5>
                <div class="pointtable">
                    <div class="pointtables">
                        <div style="overflow-x: auto;">
                            <table>
                              <tr>
                                <th>S.NO</th>
                                <th>TEAMS</th>
                                <th>W</th>
                                <th>L</th>
                                <th>PCT</th>
                                <th>GB</th>
                                <th>CON</th>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>T1</td>
                                <td>50</td>
                                <td>50</td>
                                <td>50</td>
                                <td>50</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>T2</td>
                                <td>94</td>
                                <td>94</td>
                                <td>94</td>
                                <td>94</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>T3</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Johnson</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>T5</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>T6</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>T7</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>10-5</td>
                              </tr>
                              <tr>
                                <td>8</td>
                                <td>T8</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>10-5</td>
                              </tr>
                            </table>
                          </div>
                    </div>
                </div>
            </div>
            <div class="gallery" style="background-color:rgba(104, 99, 99, 0.685);">
                <h3 class="headlines">PHOTO GALLERY</h3>
                
                <div class="galleryimages">
                <img src="{%static 'home/basketball/basketball.jpg' %}" width="100%" height="300px"/>
                <img src="{%static 'home/basketball/basketball1.jpg' %}" width="100%" height="300px">
                </div>
            </div>
            <div class="footer">
            <div class="rca-column-8">
            <ul class="rca-footer">
                <a href="" class="anc">About Us</a>
                <a href="" class="anc">Privacy Policy</a>
                <a href="" class="anc">Feedback</a>
                <a href="" class="anc">Site map</a>
            </ul>
        </div>
        <div class="rca-column-4">
            <ul class="rca-footer rca-right">
                <li class="anc1">© 2021 <a href="" class="anc">SportsWiki</a>, All rights reserved</li>
            </ul>
        </div>
            </div>
          </div>
        </div>
        </div>        
</div>
</body>
</html>