*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Aclonica';
    font-size: 15px;
}
::-webkit-scrollbar{
    display: none;
}
.header{
    grid-area:header;
    width:100%;
    background-color: black;
    color:rgb(8, 8, 8);
    padding:10px;
    margin-bottom: 10px;
}
.main{
    display:grid;
    grid-template-areas:'header header header header header header'
                        'left right right right right right'   
                        'footer footer footer footer footer footer';
    height: 100vh;
                    }
.heading{
    text-align: left;
    margin:8px;
    padding:5px;
    background-color: rgb(214, 21, 21);
    width:auto;
    color:rgb(22, 20, 20);
    border-radius: 5px;
    position:absolute;
}
.right{
    width:100%;
    grid-area: right;
    background-color: black;
    color:white;
    height:34%;
    border-radius: 15px;
    margin-left:9px;
}
.left{
    

    grid-area: left;
    background-color:black;
    width:100%;
    color:white;
    border-radius: 5px;
    margin-right: 9px;

    height: 34%;
   
}
.livematches{
    display:inline-flexbox;
    width:auto;
    background-color:black;
    border-radius: 15px;
    height:15%;
    text-align: center;
    overflow: scroll;
    border:1.9px solid white;
    box-shadow: 0 4px 8px 0 rgba(49, 39, 39, 0.2);
}
.text{
    border-left: 5px solid rgb(187, 183, 183);
    margin-top: 55px;
    word-spacing: 5px;
}
.teamspointable{
    float:left;
    width:65%;
    background-color:black;
    border-radius: 15px;
    color:white;
    height:100%;
    text-align: center;
    overflow: scroll;
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, 0.2);
    border:1.9px solid white;
}

.team1{
    width:48%;
    float: left;
    background-color:black;
    border-radius: 15px;
    height:102%;
    margin-left: 10px;
    border:1.9px solid white;
    text-align: center;
    overflow: scroll;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, 0.2);
}
.team2{
    width:50%;
    float:right;
   
    background-color:black;
    border:1.9px solid white;
    border-radius: 15px;
    height:102%;
    text-align: center;
    overflow: scroll;
    box-shadow: 5px 5px 5px 5px rgba(14, 11, 11, 0.2);
}
table,tr,th{
    margin-top:90px;
      border:collapse;
      color:white;
      padding:15px auto;   
      margin-left:10px;
      margin-right:10px;   
}
th{
    text-align: center;
    width:6%;
    border-top-left-radius: 1px;
    position: relative;
}
td{text-align: center;}
tr{
    border: 1.9px solid white;
    height:40px;
 
}

.btables{
    margin-top:65px;
    border:1.9px solid white;
    margin-left:10px;
    margin-right: 10px;
    width:90%;
    height:auto;
}
.stats{
    margin-top: 10px;
    width:auto;
    background-color:black;
    border-radius: 15px;
    height:350px;
    text-align: center;
    overflow: scroll;
    box-shadow: 0 15px 15px 0 rgba(15, 15, 15, 0.2);
    border:1.9px solid white;
}
.newsheadlines{
    margin-top: 10px;
    width:auto;
    background-color:black;
    border-radius: 15px;
    height:350px;
    text-align: center;
    overflow: scroll;
    box-shadow: 0 15px 15px 0 rgba(15, 15, 15, 0.2);
    border:1.9px solid white;   
}
.footer{
    width:100%;
    grid-area:footer;
    background-color: black;
    height:25px;
    border-radius: 5px;
    margin:10px 0px;
    color:white;
}
ul li{
    display: inline;
    margin:15px;
    color:white;
}
@media screen and (max-width:1120px){
    .main{
        display: grid;
        grid-template-areas:'header header header header header header'
                        'left left left left left left'   
                        'right right right right right right'
                        'footer footer footer footer footer footer';
    margin:45px;
    }
    .right{
        margin-top: 10px;
    }
}
@media screen and (max-width:770px){
    .main{
        display: grid;
        grid-template-areas:'header header header header header header'
                        'left left left left left left'   
                        'right right right right right right'
                        'footer footer footer footer footer footer';                
    margin:10px;
    }
    .right{
        margin-top:10px;
        width:100%;
        padding:0px;
    }
    .teamspointable{
        width:100%;
        height:auto;
    }
    .team1{
        display: block;
        float:left;
        width:100%;
        height:auto;
        margin-top: 10px;
        margin-right: 9px;
        float:right;
    }
    .team2{
        display:block;
        width:100%;
        height:auto;
        margin-top: 10px;
        margin-right: 9px;
    }
    .footer{
        margin-top: 85vh;
    }
}

.leftside{
float: left;
width: 30%;
margin-left: 1%;
}

.rightside{
float: right;
width: 30%;
margin-left: 1%;
}

.imgs{
 border-radius: 50%;
    margin: 6px;
    margin-bottom: 0px;

}