body {
  font-family: 'Aclonica';
  font-size: 14px;
}

.containersb{
  background-image: url(basketballbackground.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  color: rgb(240, 234, 234);
  background-attachment: fixed;
}

.cont{
  background-color: #2b27276b;
  height: 1325px;
  padding: 0px 100px 100px 100px;
 }

 ::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
}

.logo img{
  border-radius: 50%;
  margin: 6px;
  margin-bottom: 0px;
}
.header img{
  border-radius: 50%;
  margin: 6px;
  margin-bottom: 0px;
}
.header {
  grid-area: header;
  background-color: rgba(250, 245, 245, 0.37);;
  float :left;
  text-align: center;
  /*font-size: 35px;*/
  border-radius: 10px;
  border: 1px solid black;
}
.header button{
  float : left;
  margin-bottom: 20px;
}
.header button:hover{
  background-color: grey;
}
/*.leaguestypes button
{
  float:left;
  margin:5px;
}*/
/* The grid container */
.grid-container {
  margin :5px;
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'gallery gallery gallery gallery gallery gallery'
    'footer footer footer footer footer footer';
    
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right,.gallery {
  margin-top:5px;
  margin-bottom: 5px;
  padding: 10px;
  width: auto;
  height: 450px; 
  border-radius: 10px;
  overflow-y:scroll;
}


.left {
  grid-area: left;
  margin-right: 5px;
  text-align: center;
  width:350px;
}


.middle {
  grid-area: middle;
  margin-right: 5px;
  text-align: center;
  overflow-y:scroll;
  text-emphasis-position: fixed;
  width:350px;
}

.right {
  grid-area: right;
  text-align: center;
  width:350px;
  padding: 3px;
}
.gallery{
  grid-area: gallery;
  padding:10px;
  border-radius: 10px;
  text-align: center;
  width:350px;
}
.livematches button{
display:block;
margin:10px;
width:88%;
}
.livematches button:hover{
  background-color: grey;
}
.teamr,.teaml
{
  display:block;
}
.footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
 color:white;
}
.anc
{
  
  float: left;
  color: white;
  margin-right: 15px;
}
.anc1
{
  display: block;
  color: white;
  margin-right: 3px;
}
.headlines{
  position: relative;
  border-bottom:5px solid black;
  border-width:100%;
}
.headlinescontent{
  object-fit: cover;
  border-radius: 0%;
  width:100%;
  height: 500px;
}
.galleryimges{
  object-fit: cover;
  border-radius: 0%;
  width:100%;
  height: 500px;
}
table{
      text-align: center;
      margin: 3px;
      color:white;
      
}
tr{
  border:collapse;
  border-bottom: 1px solid black;
  border-spacing: 4px;
}

th, td {
  width:150px;
  text-align:center;
  border:1px solid black;
  padding:5px;

}
tr:hover{
  background-color: grey;
}
@media (max-width: 990px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right'
      'gallery gallery gallery gallery gallery gallery' 
      'footer footer footer footer footer footer';
  }
}