.containers{
    background: url('https://sport-trivia.vercel.app/images/main-img.png') no-repeat;
    background-color: #8065FF;
    height: 100vh;
    width: 100%;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}

.cols{
    height: 45vh;
}

.trivia{
    cursor: pointer;
    height: 296px;
    margin-top: 20px;
}

.round{
    border-radius: 1.25rem!important;
}