{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <title>Football</title>

    <link
            href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext"
            rel="stylesheet"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{%static 'home/football/index.css' %}">
    <script>

    </script>
</head>
<body>
<div class="containersb">

    <!--        Container Section-->
    <div class="cont">
        <!--            Logo -->
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <h2>
                <span><img src="{%static 'home/football/football.png' %}" style="width: 50px"/></span
                ><span style="color: rgb(255, 255, 255);"><b>SportsWiki</b></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="grid-container">

            <div class="header shadow-lg bg-white mt-4 mb-4 rounded">
                <div class="leagues">
                    <div class="leaguestypes">
                        {% for k,v in past.items %}
                        {% for i in v %}
                        <button type="button" class="btn btn-light mx-4"><span><img
                                src="{%static 'home/football/nba.png' %}">{{i.Team}}</span></button>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                <div class="left text-dark shadow-lg bg-white mt-4 mb-4 rounded"
                     style="background-color:rgba(104, 99, 99, 0.685);">
                    <h5 class="headlines mt-4">NEWS HEADLINES</h5>

                    <div class="text-dark headlinecontent">
                        {% for k,v in news.items %}
                        {% for i in v %}
                        <div class="shadow-lg bg-light p-2 m-4">
                            <h4>
                                <a href="#"
                                >{{i.Title}}.
                                </a>
                            </h4>
                            <img class="nimages" src={{i.Image}} height="200px" width="100%">
                            <h4 class="mt-2">
                                {{i.Body}}
                            </h4>
                            <p class="rca-post-info">at {{i.Time}}</p>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <div class="text-dark middle shadow-lg bg-white mt-4 mb-4 rounded"
                     style="background-color:rgba(104, 99, 99, 0.685);">
                    <h5 class="headlines mt-4">LIVE MATCHES</h5>
                    <div class="match">
                        <div class="livematches">
                            {% for k,v in live.items %}
                            {% for i in v %}
                            <button type="button" class="btn btn-light mx-4"><span
                                    class="teaml">{{i.Team1Img}}{{i.T1}}</span> <span class="teamlbteamr">vs</span>
                                <span
                                        class="teamr">{{i.Team2Img}}{{i.T2}}</span></button>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="text-dark right shadow-lg bg-white mt-4 mb-4 rounded"
                     style="background-color:rgba(104, 99, 99, 0.685);">
                    <h5 class="headlines mt-4">POINT TABLE</h5>
                    <div class="pointtable p-3">
                        <div class="pointtables shadow-lg bg-light p-3 mt-4 mb-4 rounded">
                            <div>
                                <table>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>TEAMS</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>Pts</th>
                                        <th>Pld</th>
                                        <th>Draws</th>
                                    </tr>
                                    {% for k,v in pointstable.items %}
                                    {% for i in v %}
                                    <tr>
                                        <td>{{i.Count}}</td>
                                        <td>{{i.Team}}</td>
                                        <td>{{i.Wins}}</td>
                                        <td>{{i.Loose}}</td>
                                        <td>{{i.Points}}</td>
                                        <td>{{i.Played}}</td>
                                        <td>{{i.Draws}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-2">

                <div class="gallery shadow-lg bg-white mt-4 mb-4 rounded">
                    <h3 class="text-dark headlines mt-4">PHOTO GALLERY</h3>

                    <div class="galleryimages">
                        {% for k,v in Images.items %}
                        {% for i in v %}
                        <img class="shadow-lg bg-light p-5 rounded w-100" src={{i.Image}} height="300px" width="100%">
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <div class="stats shadow-lg bg-white mt-4 mb-4 rounded">
                    <h3 class="text-dark headlines">STATS</h3>

                    <div class="black shadow-lg bg-light p-5 m-5 rounded">
                        {% for k,v in stats.items %}
                        {% for i in v %}
                        <p><span class="leftside">Team 1</span><span></span><span class="rightside">Team 2</span></p>
                        <p><span class="leftside">{{i.Score}}</span><span>:</span><span class="rightside">{{i.Score2}}</span></p>
                        <p><span class="leftside">{{i.YellowCards}}</span><span>YellowCards</span><span class="rightside">{{i.YellowCards2}}</span></p>
                        <p><span class="leftside">{{i.Possession}}</span><span>Possession</span><span class="rightside">{{i.Possession2}}</span></p>
                        <p><span class="leftside">{{i.Offside}}</span><span>Offside</span><span class="rightside">{{i.Offside2}}</span></p>
                        <p><span class="leftside">{{i.Fouls}}</span><span>Fouls</span><span class="rightside">{{i.Fouls2}}</span></p>
                        <p><span class="leftside">{{i.Corners}}</span><span>Corners</span><span class="rightside">{{i.Corners2}}</span></p>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--            Footer Section -->
            <div class="rca-row">
                <div class="rca-column-8">
                    <ul class="rca-footer">
                        <li><a href="" class="anc">About Us</a></li>
                        <li><a href="" class="anc">Privacy Policy</a></li>
                        <li><a href="" class="anc">Feedback</a></li>
                        <li><a href="" class="anc">Site map</a></li>
                    </ul>
                </div>
                <div class="rca-column-4">
                    <ul class="rca-footer rca-right">
                        <li class="anc">© 2021 <a href="" class="anc">SportsWiki</a>, All rights reserved</li>
                    </ul>
                </div>
            </div>
            <!--            Footer Ends Here-->

        </div>
    </div>
</div>
</div>
</body>
</html>